@font-face {
    font-family: "InterRegular";
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "InterBold";
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "InterLight";
    src: url(../fonts/Inter-Light.ttf);
}

.back__top {
    background: var(--preset--color--black)  linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
}

.top {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 8%;
    padding: 0 25px;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav__top {
    display: flex;
    gap: 8px;
}

.top__brand {
    display: flex;
    color: var(--preset--color--white);
    font-size: var(--preset--font-size--title);
    font-weight: 900;
    line-height: normal;
    font-family: 'Sixtyfour', sans-serif;
}

.top__title {
    color: var(--preset--color--header--brand--name);
    font-size: var(--preset--font-size--title);
    font-family: 'Sixtyfour', sans-serif;
}

.back__home {
    background: center / cover no-repeat url(../assets/backHome/background.png);
    height: 92vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 25px;
}

.home {
    max-width: 1350px;
    margin: 0 auto;
    flex: 1 0 0;
}

.home__txt-container {
    width: 50%;
    border-radius: 15px;
    background-color: rgba(96, 89, 67, 0.99);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 1);
    padding: 25px 25px;
    transition: background-color 0.9s ease-in-out;
}

.home__txt-container:hover {
    background-color: #fff;
}

.home__txt-container:hover > .home__txt h2{
    color: #000;
}

.home__txt-container:hover > .home__txt i {
    color: rgba(96, 89, 67, 0.99);
    border-radius: 15px;
}

.home__txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.home__txt-i {
    display: flex;
}

.home__txt-i i {
    font-size: 60px;
    transition: color 0.9s ease-in-out;
}

.home__txt h2 {
    font-size: var(--preset--font-size--title);
    font-family: var(--preset--font-family--inter-bold);
    color: var(--preset--color--white);
    transition: color 0.9s ease-in-out;
    line-height: normal;
}

.nav__main {
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--preset--color--black) linear-gradient(to right, rgba(151, 132, 132, 0.7), rgba(0, 0, 0, 0.7));
    height: 8vh;
}

#topCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--preset--color--white);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
}

#topCartContainer:hover {
    background-color: #605943;
}

.geralCounter,
#topCartContainer {
    color: var(--preset--color--black);
    font-family: var(--preset--font-family--inter-bold);
}

#counter {
    font-size: var(--preset--font-size--price);
    font-family: var(--preset--font-family--inter-bold),    
}

.back__products-cards {
    display: flex;
    justify-content: center;
    background: var(--preset--color--light-gray);
    width: 100%;
}

.products-cards__container {
    max-width: 1350px
}

.products-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 80px;
    padding: 80px 50px;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.products-cards__item-1,
.products-cards__item-2,
.products-cards__item-3,
.products-cards__item-4,
.products-cards__item-5,
.products-cards__item-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 328px;
    height: 376px;
    border-radius: 35px;
    background: var(--preset--color--white);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.9s ease-in-out;
}

.products-cards__item-1:hover,
.products-cards__item-2:hover,
.products-cards__item-3:hover,
.products-cards__item-4:hover,
.products-cards__item-5:hover,
.products-cards__item-6:hover {
    background-color: #605943; /* Cor de fundo ao passar o mouse */
}

.products-cards__item-1:hover > .products-cards__price,
.products-cards__item-1:hover > .products-cards__title,
.products-cards__item-1:hover > .products-cards__text,
.products-cards__item-2:hover > .products-cards__price,
.products-cards__item-2:hover > .products-cards__title,
.products-cards__item-2:hover > .products-cards__text,
.products-cards__item-3:hover > .products-cards__price,
.products-cards__item-3:hover > .products-cards__title,
.products-cards__item-3:hover > .products-cards__text,
.products-cards__item-4:hover > .products-cards__price,
.products-cards__item-4:hover > .products-cards__title,
.products-cards__item-4:hover > .products-cards__text,
.products-cards__item-5:hover > .products-cards__price,
.products-cards__item-5:hover > .products-cards__title,
.products-cards__item-5:hover > .products-cards__text,
.products-cards__item-6:hover > .products-cards__price,
.products-cards__item-6:hover > .products-cards__title,
.products-cards__item-6:hover > .products-cards__text {
    color: var(--preset--color--white);
}

.cards__container-1,
.cards__container-2,
.cards__container-3,
.cards__container-4,
.cards__container-5,
.cards__container-6 {
    display: flex;
    justify-content: center;
    position: relative;
}

.products-cards__img-1,
.products-cards__img-2,
.products-cards__img-3,
.products-cards__img-4,
.products-cards__img-5,
.products-cards__img-6 {
    width: 174px;
    height: 174px;
}

#addBtn1,
#addBtn2,
#addBtn3,
#addBtn4,
#addBtn5,
#addBtn6 {
    position: absolute;
    top: 93%;
    transform: translateY(-93%);
    cursor: pointer;
}

#addBtn1 button,
#addBtn2 button,
#addBtn3 button,
#addBtn4 button,
#addBtn5 button,
#addBtn6 button {
    color: var(--preset--color--black);
    font-size: var(--preset--font-size--price);
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#addBtn1 button:hover,
#addBtn2 button:hover,
#addBtn3 button:hover,
#addBtn4 button:hover,
#addBtn5 button:hover,
#addBtn6 button:hover {
    transform: scale(1.1);
}

.products-cards__price {
    color: var(--preset--color--black);
    font-size: var(--preset--font-size--price);
    font-family: var(--preset--font-family--inter-bold);
    transition: color 0.9s ease-in-out ;
}

.products-cards__title {
    color: var(--preset--color--black);
    font-size: var(--preset--font-size--title);
    font-weight: 300;
    font-family: var(--preset--font-family--inter-bold);
    transition: color 0.9s ease-in-out ;
}

.products-cards__text {
    padding: 0 30px;
    color: var(--preset--color--black);
    font-size: var(--preset--font-size--paragraph);
    font-family: var(--preset--font-family--inter-light);      
    transition: color 0.9s ease-in-out ;
}

#cart {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 530px;
    height: 50vh;
    padding: 24px 8px;
    background: var(--preset--color--white); 
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}

#cart.active {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
}

.cart__title {
    font-size: var(--preset--font-size--title);
    font-family: var(--preset--font-family--inter-bold);      
}

#cartItem { /* Bloco qual cada pizza vai entrar */
    display: none;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;
}

#cartItem.active {
    display: flex;
}

.cart__item-img {
    width: 72px;      
}

.cart__item-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;   
    flex: 1 0 0; 
}

.cart__item-description,
.cart__item-price {
    font-size: var(--preset--font-size--paragraph);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-family: var(--preset--font-family-inter-regular);       
}

.cart__qt-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 40px;
    border-radius: 16px;
    background: #ccc;
    padding-inline: 8px; /*CORRIGIR*/
}

#removeItem a,
#addItem a {
    display: flex;
    height: 100%;
    align-items: center;
}

.cart__item-remove {
    display: flex;
}

#cartCounter {
    font-size: var(--preset--font-size--price);
    width: 16px;
    font-family: var(--preset--font-family-inter-regular);
}

.cart__container-1,
.cart__container-2,
.cart__container-3 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--preset--color--black);
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px;
}

.cart__container-1 h2,
.cart__container-2 h2,
.cart__container-3 h2 {
    font-size: var(--preset--font-size--destaque);
    font-family: var(--preset--font-family-inter-regular);
} 

.cart__Confirm-Btn {
    width: 100%;
}

#cartConfirmBtn {
    display: flex;
    justify-content: center;
    background: var(--preset--color--green);
    padding: 16px 0;
    border-radius: 20px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

#cartConfirmBtn h2 {
    color: var(--preset--color--white);
    font-size: var(--preset--font-size--title);
}

.background-modal {
    display: none;
    top: 0;
    left: 0;
    background-color: var(--preset--color--black);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.background-modal.active {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.modal-pizza {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: var(--preset--color--white);
    padding: 25px;
    width: 50%;
    height: 393px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}

.modal-pizza__img-container {
    display: flex;
}

.modal-pizza__img {
    width: 316px;
    height: 316px;
    border-radius: 15px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}

.modal-pizza__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
}

.modal-pizza__details h2 {
    font-size: var(--preset--font-size--title);
}

.modal-pizza__tx-title {
    font-size: var(--preset--font-size--title);
}


.modal-pizza__controle-tamanhos {
    display: flex;
}

.modal-pizza__tamanho-1,
.modal-pizza__tamanho-2,
.modal-pizza__tamanho-3 {
    background: var(--preset--color--dark-gray);
    border: none;
    outline: none;
    padding: 8px;
}

.modal-pizza__tamanho-1 {
    border-radius: 15px 0 0 15px;
}

.modal-pizza__tamanho-3 {
    border-radius: 0 15px 15px 0;
}

.modal-pizza__tamanho-1:hover,
.modal-pizza__tamanho-2:hover,
.modal-pizza__tamanho-3:hover {
    background: var(--preset--color--blue);
}

.modal-pizza__qtd {
    display: flex;
    gap: 8px;
}

.modal-pizza__controle-qtd {
    display: flex;
    gap: 8px;
    background: var(--preset--color--dark-gray);
    border-radius: 15px;
}

.modal-pizza__btn--adicionar,
.modal-pizza__btn--cancelar {
    border-radius: 10px;
    padding: 16px;
    outline: none;
    border: none;
    color: var(--preset--color--white);
}

.modal-pizza__menos,
.modal-pizza__mais {
    background: transparent;
    outline: none;
    border: none;
}

.modal-pizza__btn--adicionar {
    background: var(--preset--color--green);
}

.modal-pizza__btn--cancelar {
    background: var(--preset--color--red);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--preset--color--black);
    height: 15vh;
}


.baseboard {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
    padding: 8px 25px;
}

.baseboard__dev,
.social-media__txt,
.baseboard__address h2 {
    font-family: var(--preset--font-family-inter-regular);
    color: var(--preset--color--white);
    font-size: var(--preset--font-size--paragraph);
}

.baseboard__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;     
    gap: 8px;
}

.social-media__btn {
    display: flex;
    gap: 24px;
}

.social-media__btn a {
    padding: 8px;
    transition: 250ms ease;
}

.social-media__btn a:hover {
    background: #605943;
    border-radius: 10px;
}

.social-media__btn i {
    color: var(--preset--color--white);
    font-size: var(--preset--font-size--price);
}

.baseboard__address {
    display: flex;
    justify-content: center;
    align-items: flex-start;      
}

.baseboard__address h2 {
    color: var(--preset--color--white);
}


@media (max-width: 1450px){



@media (max-width: 750px) {
    .home__txt-container {
        width: 100%;
    }

    #counter {
        text-align: center;
        font-size: var(--preset--font-size--price);
        font-style: normal;
        font-weight: 700;
        line-height: normal;       
    }

    .products-cards {
        flex-direction: column;
        padding: 32px 25px;
    }

    .products-cards__item-1,
    .products-cards__item-2,
    .products-cards__item-3,
    .products-cards__item-4,
    .products-cards__item-5,
    .products-cards__item-6 {
        width: 312px;
    }

    .nav__top {
        flex-direction: column;
    }
    #cart.active {
        width: 100%;
        height: 50vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: 28px 25px;
        flex-direction: column;
        align-items: center;
    }

    .modal-pizza {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .modal-pizza__img {
        width: 200px;
        height: 200px;
    }
    
    .modal-pizza__tamanho-1 {
        border-radius: 10px 0 0 10px;
        padding: 8px;
    }
    
    .modal-pizza__tamanho-3 {
        border-radius: 0 10px 10px 0;
    }
    
    .modal-pizza__tamanho-1:hover,
    .modal-pizza__tamanho-2:hover,
    .modal-pizza__tamanho-3:hover {
        background: var(--preset--color--blue);
    }
    
    .modal-pizza__qtd {
        display: flex;
    }
    
    .modal-pizza__controle-qtd {
        display: flex;
    }
    
    .modal-pizza__btn--adicionar,
    .modal-pizza__btn--cancelar {
        border-radius: 10px;
        outline: none;
        border: none;
        color: var(--preset--color--white);
    }
    
    .modal-pizza__btn--adicionar {
        background: var(--preset--color--green);
    }
    
    .modal-pizza__btn--cancelar {
        background: var(--preset--color--red);
    }

    footer {
        height: 100%;
    }

    .baseboard {
        padding: 24px 25px;
        height: 100%;
        gap: 32px;

    }
}

/* Efeito de transição da cor vindo de baixo para cima
.products-cards__item-1,
.products-cards__item-2,
.products-cards__item-3,
.products-cards__item-4,
.products-cards__item-5,
.products-cards__item-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 328px;
    height: 376px;
    border-radius: 35px;
    background: var(--preset--color--white);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to top, #605943 50%, #fff 50%);
    background-size: 100% 200%;
    transition: background-position 0.5s ease-in-out;
}

.products-cards__item-1:hover {
    background-position: 0 100%;
    color: var(--preset--color--white);
}
*/