:root {
    --preset--font-size--title: 24px;
    --preset--font-size--price: 24px;
    --preset--font-size--destaque: 16px;
    --preset--font-size--paragraph: 16px;
    --preset--color--black: #000000;
    --preset--color--dark-gray: #D9D9D9;
    --preset--color--light-gray: #EEEEEE;
    --preset--color--white: #ffffff;
    --preset--color--baby-blue: #E5F4FF;
    --preset--color--blue: #1298F8;
    --preset--color--green: #48D05F; /* Success */
    --preset--color--red: #E92929; /* Attention */
    --preset--color--header: #DB0006;
    --preset--color--header--brand--name: #DBCE00;
    --preset--font-family--inter-light: "InterLight";
    --preset--font-family-inter-regular: "InterRegular";
    --preset--font-family--inter-bold: "InterBold";
}